#wrapper {
    width: 100%;
    margin: 0;
}
#container {
    width: 960px;
    margin: 0 auto;
}

#reg-chart-container {
    width: 50%;
/*    max-height: 400px;*/
    margin: 0;
    float: left;
}


#salesperson-reg-chart-container {
    float: right;
   height: 400px /* !important;*/
    margin: 0;
    overflow-x: hidden;
    overflow-y: auto;
    width: 50%;
}

.highcharts-yaxis-title {text-transform: uppercase !important;}


@media (min-width: 768px) and (max-width: 991px) {
  #reg-chart-container, #salesperson-reg-chart-container {
      float:none;
      width: 100%;
  }
#container{width: 100%;}
}
@media (max-width: 768px) {
  #reg-chart-container, #salesperson-reg-chart-container {
      float:none;
      width: 100%;
  }
#container{width: 100%;}
  }